:root{
    --glory: 'Glory', sans-serif;
    --poppins: 'Poppins', sans-serif;
}
html, body {
  margin: 0;
  background-color: #F6F9FF;

  margin-top: -20px;
}

    /* HEADER */

    .container{
        max-width: 1184px;
        width: 90%;
        margin: 0 auto;
    }
    .bar {
        background-color: white;
        position: fixed;
        width: 100%;
        margin-top: 20px;
    }
    .hamburger-1 {
        display: none;
    }
    .header_part{
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .bar ul a{
        text-decoration: none;
    }
    .menu {
        list-style-type: none;
        display: inline-flex;
        margin-left: 30px;
        padding: 0;
    }
    .menu ul {
        display: inline-flex;
        list-style: none;
        margin-left: 20px;
    }
    .menu li a{
        font-family: var(--glory);
        text-decoration: none;
        margin-left: 50px;
        text-align: center;
        font-weight: normal;
        color: #293151;
        font-weight: bold;
    }
    .descarca-top {
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 11px;
        font-family: var(--glory);
        font-weight: normal;
        text-decoration: none;
        text-align: center;
        color: #FFF !important;
        background-color: #3861E9;
        padding: 15px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 15px;
        margin-left: 30px;
    }

    /* HEADER END */

    /* CAMPAIGN */

    .add_campaign {
	 	background-image: url('../images/background.png');
	  	background-position: center;
        background-repeat: no-repeat;
        background-size: 2117px 600px;
        height: 450px;
    }
    .info {
    	text-align: left;
    	max-width: 1184px;
    	margin: auto;
    }
    .info h1 {
        font-weight: bold;
        color: #F8F8F8;
        font-size: 60px;
        font-family: var(--glory);
        padding-top: 150px;
    }
    .info p{
        font-size: 38px;
        color: #F8F8F8;
        font-weight: normal;
        font-family:var(--glory);
        margin-top: -50px;
    }
    .info strong{
    	font-size: 60px;
        color: #F8F8F8;
        font-weight: bold;
        font-family:var(--glory);
        margin-top: 20px;
    }

    /* CAMPAIGN END */

    /* PROGRESS BAR */

    .secondcontainer input{
        display: flex;
        flex-direction: row;
        margin-left: 650px;
    }
    .secondcontainer label{
        display: flex;
        flex-direction: row;
        margin-left: 650px;
    }
    .progress_1 {
        max-width: 780px;
        margin: auto;
        margin-left: 650px ;
        margin-top: 75px ;
    }
    .progress {
        margin-top: 10px ;
        max-width: 780px;
        margin: auto;
    }
    .firstprogressbar {
        background-color: #E93876;
    }

     /* PROGRESS BAR END */

     /* FORMULAR */

     .formular {
        max-width: 780px;
        margin: auto;
     }
     .formular h1 {
        margin-top: 54px;
        color: #E93876;
        font-size: 24px;
        font-family: var(--glory);
        font-weight: bold;
     }
     .brand h1 {
        font-size: 16px;
        font-family: var(--glory);
        font-weight: bold;
        margin-top: 0;
        color: black;
     }
     .form-select {
        width: 780px;
        height: 51px;
        color: #8890A6;
        background-color: #FFFFFF;
        border-color: #D0DBE0;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
     }
     .campaign h1{
        font-size: 16px;
        font-family: var(--glory);
        font-weight: bold;
        margin-top: 0;
        color: black;
     }
     .form-control {
        height: 51px;
     }
     .campaign textarea{
         color: #8890A6;
     }
     .campaign p {
        margin: auto;
        margin-top: 20px !important;
        width: 375px;
        height: 50px;
        background-color: #E93876;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 11px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 10px;
        font-size: 16px;
        font-weight: bold;
        font-family: var(--glory);
     }
     .campaign a {
        font-size: 16px;
        font-weight: bold;
        font-family: var(--glory);
        color: #FFFFFF;
     }
     .campaign strong {
        font-size: 20px;
     }

     /* BRAND & CAMPAIGN END*/

     /* CATEGORIES */

     .categories h1 {
        font-size: 16px;
        font-family: var(--glory);
        font-weight: bold;
        margin-top: 0;
        color: black;
     }
     .aliments textarea {
        height: 51px;
         color: #8890A6;
        border-radius: 7px;
     }
     .aliments img {
        float: right;
        margin-top: 15px;
        margin-right: 20px;
        margin-bottom: -90px;
     }
     .auto {
        margin-top: 20px;
     }
     .auto textarea {
        height: 51px;
        border-radius: 7px;
         color: #8890A6;
     }
     .auto img {
        float: right;
        margin-top: 15px;
        margin-right: 20px;
        margin-bottom: -90px;
     }
    .auto p {
        margin: auto;
        margin-top: 20px !important;
        width: 375px;
        height: 50px;
        background-color: #E93876;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 11px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 10px;
        font-size: 16px;
        font-weight: bold;
        font-family: var(--glory);
     }
     .auto a {
        font-size: 16px;
        font-weight: bold;
        font-family: var(--glory);
        color: #FFFFFF;
     }
     .auto strong {
        font-size: 20px;
     }

     /* CATEGORIES & AUTO END */

     /* SQUARE & LANDSCAPE */ 

     .photobox {
        max-width: 780px;
        margin: auto;
        margin-top: 90px !important;
        display: flex;
        flex-direction: row;
     }
     .photobox h1 {
        font-size: 16px;
        font-family: var(--glory);
        font-weight: bold;
        margin-top: -20px;
        color: black;
     }
     .square {
        margin-left: -65px;
        height: 175px;
        width: 175px;
        background-color: #FFFFFF;
        border-radius: 11px;
        border-style: solid;
        border-color: #DFE7F5;
     }
     .square img {
        margin-left: 65px;
        margin-top: 50px;
     }
     .square p {
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
        font-family: var(--glory);
        font-weight: bolder;
     }
     .landscape {
        margin-left: 220px;
        width: 315px;
        height: 237px;
        background-color: #FFFFFF;
        border-radius: 11px;
        border-style: solid;
        border-color: #DFE7F5;
     }
     .landscape img {
        margin-left: 130px;
        margin-top: 90px;
     }
     .landscape p {
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
        font-family: var(--glory);
        font-weight: bolder;
     }

      /* SQUARE & LANDSCAPE END */ 

      /* CALENDAR FORM */

      .calendar_form {
        max-width: 780px;
        margin: auto;
        margin-top: 55px !important;
      }
      .calendar_form h1{
        font-size: 16px;
        font-family: var(--glory);
        font-weight: bold;
        color: black;
      }
      .date_start input {
        width: 780px;
        height: 46px;
      }
      .date_end h1{
        margin-top: 20px;
      }
      .date_end input {
        width: 780px;
        height: 46px;
      }
      .link_rules h1{
        margin-top: 20px;
      }
      .link_rules input {
        width: 780px;
        height: 46px;
      }
      .short_description h1{
        margin-top: 20px;
      }
      .short_description input {
        width: 780px;
        height: 46px;
      }
      .short_description label {
        font-size: 14px;
        font-family: var(--glory);
        color: #8890A6;
        font-weight: bold;
      }
      .long_description h1{
        margin-top: 10px;
      }
      .long_description input{
        width: 780px;
        height: 154px;
      }
      .long_description label {
        font-size: 14px;
        font-family: var(--glory);
        color: #8890A6;
        font-weight: bold;
      }
       .calendar_form p {
        margin: auto;
        margin-top: 20px !important;
        width: 375px;
        height: 50px;
        background-color: #E93876;
        border-radius: 8px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 15px;
        font-size: 16px;
        font-weight: bold;
        font-family: var(--glory);
     }
     .calendar_form a {
        font-size: 16px;
        font-weight: bold;
        font-family: var(--glory);
        color: #FFFFFF;
     }

     /* CALENDAR FORM END */

     /* FOOTER */


    .footer {
        width: 100%;
        height: 96px;
        background-color: white;
        margin-top: -50px;
    }
    .footer h1{
        margin-top: 40px;
        display: inline-flex;
        font-size: 14px;
        color: #293151;
        font-family: var(--poppins);
        font-weight: bold;
        margin-left: 360px;
    }
    .footer h2{
        display: inline-flex;
        font-size: 14px;
        color: #293151;
        font-family: var(--poppins);
        font-weight: bold;
        margin-left: 240px;
        margin-right: 240px;
    }
    .imagini {
        display: inline-flex;
    }

    /*FOOTER END*/

@media (min-width: 300px) and (max-width: 700px) {
 
    .bar {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    }
    .navbar{ 
        display: none !important;
    }
    .navbar.open{
        display: block;
        margin-top: 213px;
        justify-content: center;
        background-color: blue;
        position: absolute;
        width: 385px;
        margin-left: -20px;
    }
    .navbar.open .menu li a{
        color: white;
        padding-right: 100px;
    }
     .navbar.open .menu li .descarca-top{
        color: white;
        background-color: blue;
        padding: 0;
        margin: 0;
        margin-right: 45px;
    }
    .navbar.open .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hamburger-1{
        display: block;
        margin-left: 80px;
        height: 20px;
        color: blue !important;
    }

    /* HEADER END */

    /* CAMPAIGN */

    .add_campaign {
        width: 100%;
        padding-left: 30px;
        font-weight: bold;
        color: #FFFFFF;
    }
    .info h1{
        margin: 0;
        padding-top: 120px;
        font-size: 38px;
    }
    .info p {
        margin: 0;
        font-size: 24px;
    }
    .info p strong {
        font-size: 30px;
    }
    .add_campaign {
        background-size: 2117px 400px;
        height: 400px;
    }

    /* CAMPAIGN END */

    /* PROGRESS BAR*/

    .progress {
        width: 100%;
    }

    /* PROGRESS BAR END */

    /* FORMULAR */

    .formular {
        margin-left: 20px;
        width: 315px;
    }
    .form-select {
        width: 315px;
    }
    .campaign p {
        width: 315px;
    }

    /*FORMULAR END*/

    /*CATEGORIES */

    .categories {
        margin-top: 20px;
        width: 315px;
    }
    .auto p{
        width: 315px;
    }

    /* CATEGORIES END */

    /* SQUARE & LANDSCAPE */

    .photobox {
        display: flex;
        flex-direction: column;
    }
    .photobox h1{
        margin-left: 30px;
    }
    .square {
        margin: 0 0 20px 30px;
    }
    .landscape {
        margin: 28px 0 0 30px;
    }
    .landscape h1{
        margin-left: 0 !important;
    }

    /* SQUARE & LANDSCAPE END*/

    /* CALENDAR FORM */

    .calendar_form input{
        width: 315px;
        margin-left: 30px;
    }
    .calendar_form h1{
        margin-left: 30px;
    }
    .calendar_form label {
        margin-left: 30px;
    }

    /* CALENDAR FORM END */

    /* FOOTER */

    .footer {
        width: 365px;
        height: 200px;
    }
    .footer_edit {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .footer h1 {
        margin: 0;
        margin-top: -50px;
    }
    .footer h2{
        margin: 0;
        margin-top: 40px;
    }
    .imagini {
        margin-top: 30px;
    }
    .imagini img{
        margin: 7px;
    }
    /*FOOTER END*/

}